/* UserLogin.css */

.container {
    padding: 1.75rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 4rem;
    /* Tailwind w-16 */
    margin-bottom: 2.5rem;
    /* Tailwind mb-10 */
}

.input-label {
    font-size: 1.125rem;
    /* Tailwind text-lg */
    font-weight: 500;
    /* Tailwind font-medium */
    margin-bottom: 0.5rem;
    /* Tailwind mb-2 */
}

.input-field {
    background-color: #eeeeee;
    margin-bottom: 1.75rem;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1.125rem;
}

.login-btn {
    background-color: #111;
    color: white;
    font-weight: 600;
    margin-bottom: 0.75rem;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.125rem;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.signup-link {
    color: #2563eb;
    /* Tailwind text-blue-600 */
    text-decoration: none;
}

.User-login-btn {
    background-color: #f3c164;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;   
    margin-bottom: 1.75rem;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.125rem;
    text-decoration: none;
}